*{
    font-family: "Inter", sans-serif;
    margin: 0px;
}

/* Shared styles */
body{
    background-color: black;
}
.display-flex{
    display: flex;
}
.vh-center{
    justify-content: center;
    align-items: center;
}
.color-white{
    color: white;
}
.common-red{
    color: rgba(230, 83, 60, 1);
}
.common-red-bg{
    background-color: rgba(230, 83, 60, 1);
}
/* header styles */

/* navbar styles */
.navbar-title{
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: 58px;
}
.nav-options{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    height: 34px;
    width: 465px;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    margin-top: 58px;
}
.navbar{
    justify-content: space-around;
}
.home{
    background-color: rgba(230, 83, 60, 1);
    padding: 8px 20px;
    border-radius: 46px;
}
.about{
    padding: 0px 20px;
}
.fa-bars{
    font-size: 35px;
    margin-top: 58px;
}
#bars{
    display: none;
}






/* /* responsiveness for small devices */
@media screen and (max-width: 576px) {
    .navbar{
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }
    .navbar-title{
        font-size: 36px;
    }   
    .nav-options{
        display: none;
    }
    #bars{
        display: inline;
    }
}