*{
    font-family: "Inter", sans-serif;
    margin: 0px;
}

/* Shared styles */
body{
    background-color: black;
}
.display-flex{
    display: flex;
}
.vh-center{
    justify-content: center;
    align-items: center;
}
.white{
    color: white;
}
.common-red{
    color: rgba(230, 83, 60, 1);
}
.common-red-background{
    background-color: rgba(230, 83, 60, 1);
}
.text-align{
    text-align: left;
}
/* header section */

/* navbar section */
.navbar-title{
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: 58px;
}
.nav-options{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    height: 34px;
    width: 465px;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    margin-top: 58px;
}
.navbar{
    justify-content: space-around;
}
.home{
    background-color: rgba(230, 83, 60, 1);
    padding: 8px 20px;
    border-radius: 46px;
}
.about{
    padding: 0px 20px;
}
.fa-bars{
    font-size: 35px;
    margin-top: 58px;
}
#bars{
    display: none;
}
/* Banner Section */
.banner{
    justify-content: space-around;
}
.banner-title{
    font-size: 4.875rem;
}
#shape{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 4.875;
}
.banner-paragraph{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 28px;
    margin-bottom: 28px;
}
.banner-btn-container{
    width: 100%;
    height: 3.625rem;
}
.join{
    border-radius: 42px;
    border: none;
    padding: 16px 40px;
    margin-right: 10px;
    width: 14rem;
    height: 3.5625rem;
    font-size: 1.125rem;
    font-weight: 600;
}
.download{
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 42px;
    padding: 16px 40px;
    width: 14rem;
    height: 3.5625rem;
    font-size: 1.125rem;
    font-weight: 600;
}
.gray-card-1{
    width: 193px;
    height: 98px;
    background-color: rgba(48, 48, 48, 0.54);
    border: 0.2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    position: absolute;
    z-index: 1;
    border-radius: 10px;
}
.workout-card{
    left: 1200px;
    bottom: 400px;
    flex-direction: column;
}
.banner-img{
    z-index: 0;
}
.fwv{
    text-align: left;
}
.fwv > h6, .vid-tutorial-text > h6{
    font-size: 2.5rem;
    font-weight: 900;
}
.fwv > p, .vid-tutorial-text > p{
    font-size: 0.8125rem;
    color: rgba(255, 255, 255, 0.65);
}

.video-tutorial{
    bottom: 50px;
    left: 730px;
    
}
.red-circle{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.vid-tutorial-text{
    flex-direction: column;
    text-align: left;
}

/* change habits section */
.habit-section-title{
    margin-top: 100px;
    font-size: 3rem;
    font-weight: 900;
}
.change-habit{
    flex-direction: column;
}
.change-habit-paragraph{
    opacity: 50%;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 58px;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}
.change-habit-img{
    height: 180px;
    width: 180px;
    border: 4px solid rgba(60, 60, 60, 1);
    border-radius: 50%;
}
.change-habit-images{
    gap: 60px;
}
.habit-container{
    flex-direction: column;
    text-align: center;
}
#img1{
    background-image: url('../images/image\ 3.png');
    background-position: center;
    background-size: cover;
}
#img2{
    background-image: url('../images/image\ 2.png');
    background-position: center;
    background-size: cover;
}
#img3{
    background-image: url('../images/image\ 4.png');
    background-position: center;
    background-size: cover;
}
#img4{
    background-image: url('../images/image\ 5.png');
    background-position: center;
    background-size: cover;
}
.habit-name{
    margin-top: 30px;
    margin-bottom: 6px;
    font-size: 1.125rem;
    font-weight: 600;
}
.habit-details{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}

/* extra miles section */
.extra-mile{
    height: 371px;
    width: 1060px;
    background-color: rgba(34, 34, 34, 1);
    margin: 100px auto;
    border-radius: 20px;
}
.mile{
    flex-direction: column;
    margin-right: 145px;
}
.mile-paragraph{
    opacity: 50%;
    font-size: 0.875rem;
    margin-bottom: 34px;
    margin-top: 14px;
}
.mile-btn{
    border-radius: 42px;
    border: none;
    width: 224px;
    font-size: 1.125rem;
    font-weight: 600;
    height: 54px;
    padding: 16px 40px;
}
.run-img{
    background-image: url('../images/run.jpg');
    background-size: cover;
    background-position: center;
    height: 312px;
    width: 366px;
    border-radius: 30px;
    margin-left: 165px;
}
.mile-title{
    font-size: 3rem;
    font-weight: 900;
}

/* unique section */
.unique-section{
    height: 500px;
    width: 1000px;
    margin: 0px auto;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/unique-image.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
    flex-direction: column;
}
.unique-title{
    font-size: 4rem;
    opacity: 90%;
    font-weight: 700;
}
.unique-paragraph{
    opacity: 90%;
    font-size: 0.975rem;
    margin-top: 24px;
    margin-bottom: 48px;
}
.unique-btn{
    width: 374px;
    color: orangered;
}
#arrow{
    margin-left: 30px;
}

/* BMI calculator section */

.bmi-calculator > h1{
    font-size: 3rem;
    font-weight: 900;
}
.bmi-calculator{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 88px;
    margin-top: 88px;
}
.bmi-heading > p{
    opacity: 50%;
    font-size: 0.875rem;
    margin-top: 14px;
}
.main-calculator-container{
    background-color: rgba(34, 34, 34, 1);
    width: 100%;
    height: 500px;
    margin-top: 88px;
    justify-content: space-around;
}
td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    font-size: 0.875rem;
    opacity: 50%;
}
th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    font-size: 1rem;
}
table{
    border-collapse: collapse;
}
.main-calculator-paragraph{
    opacity: 50%;
    font-size: 0.875rem;
    margin-top: 14px;
    margin-bottom: 34px;
}
.calculator-inputs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 577px;
    height: 168px;
    gap: 12px;
    margin-bottom: 34px;
    margin-top: 30px;
}
.activity-factor{
    grid-column: span 2;
}
.calculator-input::placeholder{
    color: white;
    padding-left: 20px;
}
.calculator-input{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    border: none;
}
option{
    color: black;
}
select{
    padding-left: 20px;
}
.chart-title{
    margin-bottom: 52px;
}
.main-calculator-title{
    font-size: 1.75rem;
    font-weight: 900;
}
.calculator-input::placeholder{
    opacity: 60%;
}
.gender, .activity-factor{
    color: rgba(255, 255, 255, 0.6);
}


/* team section */
.team-title{
    font-size: 3rem;
    font-weight: 900;
}
.about-team{
    font-size: 0.875rem;
    opacity: 50%;
    margin-top: 14px;
    margin-bottom: 58px;
}
.team{
    text-align: center;
    flex-direction: column;
    
}
.team-image{
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1060px;
    height: 604px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 20px;
    gap: 20px;
}
.img1{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/trainer1.png');
    background-size: cover;
    background-position: center; 
}
.img2{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/trainer2.png');
    background-size: cover;
    background-position: center;
}
.img3{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/trainer3.png');
    background-size: cover;
    background-position: center;
}
.img4{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/trainer4.png');
    background-size: cover;
    background-position: center;
}
.img5{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/trainer5.png');
    background-size: cover;
    background-position: center;
}
.img6{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/trainer6.png');
    background-size: cover;
    background-position: center;
}
.team-img-text{
    padding: 10px;
}

.trainer-name{
    font-size: 1.25rem;
    font-weight: 900;
}

.trainer{
    opacity: 50%;
    font-size: 0.875rem;
}

/* footer styles */
footer{
    width: 100%;
    height: 489px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 80px;
    flex-direction: column;
}
.logo{
    font-size: 4.375rem;
    margin-top: 66px;
}
.logo-text{
    opacity: 50%;
    font-size: 0.875rem;
    margin-top: 20px;
}

.get-started-title{
    font-size: 2rem;
    margin-bottom: 39px;
}
.get-started-text{
    opacity: 50%;
    font-size: 1.4375rem;
    margin-bottom: 20px;
}
.items{
    justify-content: space-evenly;
    margin-bottom: 88px;
}
.get-started{
    margin-top: 80px;
    margin-top: 66px;
}

.hr{
    height: 0.5px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 36px;
}
.copyright{
    flex-direction: column;
}
.copyright-text{
    opacity: 40%;
    font-size: 1.25rem;
}

/* responsiveness for small devices */
@media screen and (max-width: 576px) {
    /* navbar section */
    .navbar{
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }
    .navbar-title{
        font-size: 36px;
    }   
    .nav-options{
        display: none;
    }
    #bars{
        display: inline;
    }
    header{
        background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(255,255,255,0.1) 20%);
    }
    /* banner section */
    .banner{
        flex-direction: column;
    }
    .banner-btn-container{
        display: flex;
        justify-content: center;
    }
    .join, .download{
        height: 54px;
        width: 199px;
        font-size: 18px;
        padding: 16px 30px;
    }
    .banner-title{
        font-size: 36px;
    }
    .banner-text{
        margin: 20px;
    }
    .banner-paragraph{
        font-size: 16px;
        width: 274px;
        height: 96px;
    }
    .gray-card-1{
        width: 155.74px;
        height: 72.58px;
    }
    .fwv > h6, .vid-tutorial-text > h6{
        font-size: 19.14px;
    }
    .fwv > p, .vid-tutorial-text > p{
        font-size: 13.1px;
    }
    .red-circle{
        height: 30.24px;
        width: 30.24px;
    } 
    .video-tutorial{
        left: 32px;
        top: 750px;
    }  
    .workout-card{
        left: 235px;
        top: 550px;
    }
      /* change habit section  */
    .change-habit-images{
        display: flex;
        flex-direction: column;
    }
    .change-habits{
        margin-top: 270px;
    }
    .habit-section-title{
        font-size: 32px;
    }
    .change-habit-paragraph{
        font-size: 14px;
    }
    .habit-name{
        font-size: 18px;
    }
    .habit-details{
        font-size: 14px;
    }

    /* extra miles section */
    .extra-mile{
        flex-direction: column;
        width: 353px;
        height: 531px;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    .run-img{
        width: 287px;
        height: 170px;
        margin: 0px;
    }
    .extra-miles-title{
        font-size: 32px;
    }
    .mile{
        margin: 0px;
        font-size: 14px;
        margin-bottom: 0px;
    }
    .mile-btn{
        width: 284px;
        height: 54px;
    }

    
    /*unique section */
    .unique-section{
        height: 350px;
        width: 90%;
        margin-bottom: 1.875rem;
    }
    .unique-title{
        font-size: 34px;
    }
    .unique-btn{
        width: 314px;
        font-size: 14px;
    }
    #arrow{
        margin-left: 10px;
    }

     /* BMI calculator section */
     .bmi-calculator{
        margin-top: 1.875rem;
    }
    .bmi-heading > h1{
        font-size: 2rem;
    }
    .bmi-heading > p{
        font-size: 0.875rem;
    }
    .bmi-heading{
        margin-left: 20px;
    }
    .main-calculator-container{
        flex-direction: column;
        height: 822px;
        margin-top: 2rem;
    }
    .calculator-inputs{
        width: 22.0625rem;
        height: 10.5rem;
        gap: 0.75rem;
    }
    .bmi-chart{
        margin-right: 20px;
        margin-bottom: 42px;
    }
    .main-calculator{
        margin-left: 30px;
    }
    .main-calculator-title{
        font-size: 1rem;
    }
    .main-calculator-para{
        font-size: 0.875rem;
    }
    .chart-title{
        font-size: 1rem;
        margin-bottom: 1.4375rem;
    }
    .bmi-chart{
        margin-top: 2.125rem;
    }
    .bmi-btn{
        margin-bottom: 2.6875rem;
    }

    /* team section */
    .team{
        margin-top: 4.125rem;
    }
    .team-title{
        font-size: 2rem;
    }
    .about-team{
        font-size: 0.875rem;
        margin-bottom: 2.3125rem;
    }
    .team-img-container{
        width: 85%;
        height: 74.25rem;
        grid-template-columns: repeat(1, 1fr) 
    }
    .team-image{
        height: 272px;
    }
    .img1, .img4{
        display: none;
    }


       /* footer section */
       footer{
        height: 61.625rem;
    }
    .items{
        flex-direction: column;
        margin-bottom: 4.5rem;
    }
    .logo{
        font-size: 4.375rem;
    }
    .get-started{
        padding-right: 210px;
        /* margin-left: 20px; */
    }
    .hr{
        width: 22.125rem;
    }
  
    .get-started-1{
        margin-top: 1.875rem;
    }
    .get-started-2{
        margin-top: 1.25rem;
    }

    }